<div class="col-md-12 textdiv">
<div class="center-div">
  <p id="copy" class="switch">American Dekotora believes that music shapes our environment and changes the way we interact with the world. We create communities and build new connections with people through our musical experiences off and online. The purpose of American Dekotora is to bring people together to create a new community focused on changing and expanding the way we can enjoy music. With this guiding principle in mind, we have created this cart. The Super Heavy Record Cart is a multi-functional centerpiece for any music experience. Its flexibility, portability, and convenience allows a record store, a DJ booth, a merch table, or a marketing tool to be positioned anywhere and anytime.</p>
  <p id="email" class="switch">americandekotora@gmail.com</p>
</div>
</div>
