<!--<div id="social" class="center">-->
<div class="social col-md-12">
        <a><div id="mail" class="fa fa-envelope-o"></div></a>
        <a href="mailto:americandekotora@gmail.com"><div id="mail_mo" class="fa fa-envelope-o"></div></a>
        <a target="_blank" href="https://www.instagram.com/americandekotora/"><div id="insta" class="fa fa-instagram"></div></a>
</div>
<!--</div>-->

<!--<a href="https://www.instagram.com/americandekotora/" target="_blank"><i id="insta" class="fa fa-instagram fa-2x font"></i></a>-->
