<div id="text" class="center text switch">
  <div class="col-md-12">
    <p>Music in its simplest form is centered around taking an inanimate object and animating an environment with it. We have taken that principle and created this cart. The Super Heavy Record Cart is a multi-functional centerpiece for any music experience. It's flexibility, portability, and convenience allows a record store, a DJ booth, a merch table, or a marketing tool to be positioned anywhere and anytime.</p>
  </div>
</div>
<div id="email" class="center email switch">
  <div class="col-md-12">
    <p>americandekotora@gmail.com</p>
  </div>
</div>
